@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('../../CabinetGrotesk/Fonts/OTF/CabinetGrotesk-Medium.otf') format('opentype');
}

.weather-card {
  width: 1360px;
  height: 80px;
  background-color: #00A3FF;
  border-radius: 12px;
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: -2;
}

.weather-card_night {
  background-color: #286897;
}

.weather-card__temp {
  font-size: 36px;
  line-height: 40px;
  margin: 20px auto 20px 16px;
  position: relative;
  color: #fff;
  font-family: 'Cabinet Grotesk';
}

.weather-card__image {
  object-fit: contain;
  position: absolute;
  left: 0;
  border-radius: 0 12px 12px 0;
}