@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('../../CabinetGrotesk/Fonts/OTF/CabinetGrotesk-Medium.otf') format('opentype');
}

.footer {
  position: absolute;
  width: 1360px;
  margin: auto;
  bottom: 24px;
  display: flex;
  justify-content: space-between;
  font-family: 'Cabinet Grotesk';
}

.footer__text-alt {
  margin-right: 24px;
}