@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('../../CabinetGrotesk/Fonts/OTF/CabinetGrotesk-Medium.otf') format('opentype');
}

.footer {
  position: fixed;
  bottom: 24px;
  width: 1360px;
  height: 20px;
  margin: auto auto 24px auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Cabinet Grotesk';
}

.footer__text {
  margin: 0;
}

.footer__text-alt {
  margin: 0;
  margin-right: 24px;
}